body {
  margin: 0;
  padding: 0;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: 'Times New Roman', Times, serif;
  background-color: #313131;
  color: #d4d7dd;
}

p, h4, h5 {margin: 0.5em;}

h2, h3 {font-size: 1.6em;}
p, h5{font-size: 1.3em;}
h4 {font-size: 1.4em;}
h5 {color: #e9ea77;}


a {
	color:  #bbbec4;
	font-size: 1.2em;
	text-decoration: underline;
}

a:active, a:hover, a:focus {color: #0c7b93; text-decoration: underline;}

form {
	display: flex;
	flex-direction: column;
	margin: 0
}

label , input {
   margin: 3% 0;
}

button {
	font-size: 1.2em;
	border: 1px solid #0c7b93;
	background-color: #212121ab;
	color: #0c7b93;
   height: 2em;
   font-size: 1em;
   margin: 5% 0;
   outline: none;
   text-transform: uppercase;
}

input {
	color: #eae9e9;
	background-color: transparent;
	border: 1px solid #d4d7dd;
	height: 2em;
	font-size: 1em;
}

.navbar {
	width: 100%;
	height: 5vh;
	background-color: #212121;
	align-items: center;
	display: flex;
	justify-content: flex-end;
}

.navbarElements {
	width: 40%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 2vw;
}

.navbarElements a {
	color: #bbbec4;
	text-decoration: none;
	cursor: pointer;
	font-size: 1.2em;
}

.navbarElements a:hover, .navbarElements a:active, .navbarElements a:focus {
	color: #0c7b93;
}

.logout {
	background-color: transparent;
	border: none;
	color: #bbbec4;
	cursor: pointer;
	text-transform: capitalize;
	font-size: 1.2em;
}

.logout :active, .logout:hover, .logout:focus {
	color: #0c7b93;
	border: none;
}



.form_container {
	width: 25vw;
	margin: 10vh auto;
	display: grid;
	grid-template-columns: 4fr;
	grid-template-rows: 1fr;
	padding: 2%;
	border-radius: 5px;
	background-color: #414141;
	color: #d4d7dd;
}

.secret_page {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.message {
	display: flex;
	align-items: center;
	justify-content: center;
}

.categories {
	margin: 0 4em;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.categories h3, .categories h2 {
    margin: 5px;
}

.categories button, .products button {
	margin: 1em;
	font-size: 1.2em;
	border: 1px solid #0c7b93;
	background-color: #212121ab;
	color: #0c7b93;
}

.categories h2 {color: #7fcd91;}

.products {
	margin: 1em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 2em;
}

.product {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 21vw;
}
.product div {background-color: #21212140;}

.addToCart {text-align: center;}
.product img {height:21vw;}
.product button {
	position: relative;
	bottom: 80px;
}
.product h4, .product p {text-transform: capitalize;}

.shop {
	margin: 0 1em;
}

.shop nav {
	display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1em;
    align-items: center;
}

.filters {text-align: left;}


.filters input {
	padding-left: 4px; 
	font-size: 1.2em;
	border: none;
}
.filters input::placeholder{color: #eae9e9;}
.fa-search:before {position: relative; right: 1em;}


.shop nav button {
	margin: 0 5px;
	font-size: 1.2em;
}

.filters select {
	background-color: transparent;
	font-size: 1.2em;
	color: #eae9e9;
	border: none;
	margin-left: 2em;
}

.shop form {
	display: inline;
}

.cartIcon h4 {
	display: inline;
}

.cartIcon button {
	background-color: transparent;
	border: none;
	text-align: right;
}

.fa-shopping-cart {
	margin-right: 1em;
}

.cart {
	padding: 1em;
	border-radius: 5px;
	background-color: #414141;
	color: #d4d7dd;
	width: 40vw
}

.cart :last-child {
	margin-top: 1em;
	text-align: right;
}

.cartProduct {
	display: grid;
	grid-template-columns: 3fr 1fr 1fr;
	align-items: center;
}

.cartProduct p {
	display: inline;
	text-transform: capitalize;
}

.cartProduct img {width: 5vw;}

.checkoutProduct img {width: 20%;}


.checkoutProduct {
	align-self: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	margin: auto; 
	width: 80vw;
}

.match {
	/* http://localhost:4242/assets/battleground.jpg */
	background-image: url(http://localhost:4242/assets/battleground.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	max-height: 90vw;
    min-height: 50vw;
}

.match img {
	height: 14vw;
}


.playerSpace, .oponentSpace{
	text-align: center;
    padding: 10px;
    background-color: #00000096;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    height: 16vw;
} 

.arena {
	display: grid;
    grid-template-rows: repeat(2, 19vw);
    text-align: center;
    height: 38vw;
}

.hand {
	grid-template-columns: repeat(5, 1fr);
}

.hand img {
	height: 14vw;
}

.hand div {
	display: inline-block;
    width: 13vw;
    position: relative;
    bottom: 14vw;
}

.oponentsArena div, .playersArena div {
	display: inline;
	padding: 0.5em 0;
}

.oponentCard {
    position: absolute;
	top: 4vw;
    z-index: 2;
    left: 42vw;
}

.playerCard {
	position: absolute;
    top: 43vw;
    z-index: 2;
    left: 45.3vw;
    box-shadow: 1px -1px 16px 14px rgba(0,0,0,0.69);
} 



.weaponEquipped {
	position: relative;
    top: 14vw;
}

.play img {
	width: 100%;
	margin: 2em;
}

.play h1 {
	margin: 0.5em 1em;
}

.play h3 {
	margin: 1em 0;
}

.play {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: top;
}

.arena img {
	margin: 0 0.5em;
}

.arena > div {
	align-items: center;
}

.message_container {
	flex-direction: row;
    align-items: center;
   
    font-size: 1.5em;
    color: gray;
    margin-top: 10%;
}
.payment_message_container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  .message_box {
	width: 30%;
	height: 25%;
	display: flex;
	flex-direction: row;
	margin-top: 5%;
	border-radius: 0.4em;
  }
  .message_box_left {
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .message_box_right {
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.3em;
	font-weight: 600;
	letter-spacing: 0.1em;
  }

.faceIcon {
	width: 60%
}

.select {
	background-color: pink;
}
.usersList{
	margin: auto;
	display: grid;
	justify-content: center;
}
.user {
	width: 100%;
	background-color: #21212140;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 1em;
	align-items: center;
	border-radius: 5px;
	margin-bottom: 1em;
}


.profile h3 {
	margin: 1em;
}

/* .checkout_container {margin: auto; width: 80vw; } */